h1 {
    font-family: HelveticaNeue-UltraLight;
    font-weight: lighter;
    font-size: 50px;
    color: rgb(253, 253, 253);
}

body {
    background-color: rgb(30,30,30);
}

p {
    font-family: HelveticaNeue-Light;
    font-weight: light;
    font-size: 20px;
    color: rgb(253, 253, 253);
}